TZ=America/Sao_Paulo

POSTGRESQL_SRV_USER=
POSTGRESQL_SRV_PASSWORD=
POSTGRESQL_SRV_HOST=
POSTGRESQL_SRV_DATABASE=
POSTGRESQL_SRV_DIALECT=
POSTGRESQL_SRV_APP_NAME=

POSTGRESQL_DEVELOPMENT_USER=
POSTGRESQL_DEVELOPMENT_PASSWORD=
POSTGRESQL_DEVELOPMENT_HOST=
POSTGRESQL_DEVELOPMENT_PORT=
POSTGRESQL_DEVELOPMENT_DATABASE=
POSTGRESQL_DEVELOPMENT_AUTHENTICATION_DATABASE=

POSTGRESQL_TEST_USER=
POSTGRESQL_TEST_PASSWORD=
POSTGRESQL_TEST_HOST=
POSTGRESQL_TEST_PORT=
POSTGRESQL_TEST_DATABASE=
POSTGRESQL_TEST_AUTHENTICATION_DATABASE=

POSTGRESQL_PRODUCTION_USER=
POSTGRESQL_PRODUCTION_PASSWORD=
POSTGRESQL_PRODUCTION_HOST=
POSTGRESQL_PRODUCTION_PORT=
POSTGRESQL_PRODUCTION_DATABASE=
POSTGRESQL_PRODUCTION_AUTHENTICATION_DATABASE=